<h2>Create a Celebrity</h2>
<form method="post" action="/celebrities/create">

 <label for="1">Name:</label><br>
  <input type="text" id="1" name="name"><br>

  <label for="2">Occupation:</label><br>
  <input type="text" id="2" name="occupation">
<br>
<label for="3">Catch Phrase:</label><br>
  <input type="text" id="3" name="catchPhrase">
<br>
<button type="submit">Create</button>
</form>

